.active_state:after {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    top: 35%;
    left: 50%;
    z-index: 9999;
    background-size: cover;
}

.active_state {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9998;
    cursor: not-allowed;
    background: rgba(25, 22, 22, 0.8);
}

.loader_spin {
    border: 16px solid transparent;
    border-radius: 50%;
    border-top: 16px solid rgba(81, 155, 110, 0.97);
    position: absolute;
    width: 100%;
    top: 35%;
    left: 0%;
    text-align: center;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.lds-spinner {
    color: #ffffff;
    display: inline-block;
    position: absolute;
    top: 35%;
    left: 50%;
    width: 64px;
    height: 64px;
}

.lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: #fff;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.no-clickeable {
    pointer-events: none;
}

.total-hidden {
    display: none;
}

.pos-receipt-font-75 {
    font-size: 75%;
}

.pos-receipt-fiscal-type-name {
    font-weight: bold;
    border-style: dashed;
    border-width: 2px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    padding: 10px 10px;
    text-align: center;
}

.do-pos-receipt-titles {
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    border-style: dashed;
    border-width: 2px;
    border-right: 0px;
    border-left: 0px;
    padding: 10px 0px;
}

.do-pos-receipt-titles .right {
    text-align: right;
    flex: 1;
}

.do-pos-receipt-lines {
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding-bottom: 6px;
}

.do-pos-receipt-lines .right {
    text-align: right;
    flex: 1;
}

/* Ocultar información de referencia de orden de venta (ej: "De S00121") */
/* Ocultar cualquier div que aparezca después de do-pos-receipt-lines */
.orderlines>div>div.do-pos-receipt-lines+div:not(.do-pos-receipt-lines):not(.pos-receipt-fiscal-type-name):not(.do-pos-receipt-titles):not(.price_display) {
    display: none !important;
}

/* Ocultar cualquier elemento hermano después de do-pos-receipt-lines */
.orderlines>div>div.do-pos-receipt-lines~div:not(.do-pos-receipt-lines):not(.pos-receipt-fiscal-type-name):not(.do-pos-receipt-titles):not(.price_display) {
    display: none !important;
}

/* Ocultar cualquier elemento hijo adicional dentro del primer div de do-pos-receipt-lines */
.do-pos-receipt-lines>div:first-child br+* {
    display: none !important;
}

/* Ocultar específicamente el elemento pos-receipt-left-padding que contiene "De S00118" */
.orderlines .pos-receipt-left-padding {
    display: none !important;
    visibility: hidden !important;
    height: 0 !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
}

/* Mostrar logo en el contenedor de lista de productos cuando el POS tiene diario fiscal activado */
.product-list-container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    min-height: 400px !important;
    position: relative !important;
    background-image: url('/l10n_do_pos/static/src/img/logo.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent !important;
}

/* Ocultar los productos dentro del contenedor pero mantener el contenedor visible para el logo */
.product-list-container>* {
    display: none !important;
}